@import url('http://fonts.cdnfonts.com/css/minecraft-4');

body{
    background-color: burlywood;
}
.titulo{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 50px;
    color: aliceblue;
    -webkit-text-stroke: 2px black;
}
.cabecera{
    background-image: url("Imagenes/cabecera.jpg");
    height: 150px;
    align-items: center;
    display: flex;
    border-radius: 5px;
}
.pieCabecera{
    background-color: chocolate;
}